*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.btns{
    padding-left: 10px !important;

}
#home{
    background-color: rgba(12, 12, 122, 0.89);
    color: #fff;
    padding: 50px; 
}

.content h2{
     font-weight: 50px;
}
.navbar{
    background-color: transparent !important;
    color: #fff !important;
}
.sponcers h2 {
    font-size: 15px;
    padding: 2px;
    margin-top: 2px;
    font-weight: bolder;

}

.txt h4{
    margin-bottom:40px ;
    text-transform: capitalize;
}

.txt {
    display: inline;
}